html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swipe {
  position: absolute;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):before {
  display: none !important;
}
.ant-radio-button-wrapper:not(:first-child)::before {
  display: none !important;
}
.ant-input:focus, .ant-input-focused {
  border:none !important;
  border-color:none !important;
  box-shadow: none !important;
}
