.header {
  display: flex;
  align-items: center;
  height: 86px;
  padding: 0 16px;
  background: linear-gradient(90deg, #18E3FF 0%, #18FFAC 100%);
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #D9D9D9;
}

.name {
  margin-left: 10px;
  color: #fff;
  font-size: 18px;
}

.menu {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #D9D9D9;
  margin-left: auto;
}

.tabs {
  padding: 20px;
  color: #000;
  font-size: 18px;
  display: flex;
  border-bottom: solid 1px #BFBFBF;

}

.tab + .tab {
  margin-left: 10px;
}

.message {
  display: flex;
  padding: 10px 16px;
}

.message:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
}

.message-content {
  margin-left: 10px;
}