.container {
  display: flex;
  height: 100vh;
}

.chat-app {
  flex: 0 0 400px;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
}
