.container {
  display: flex;
  height: 100vh;
}

.chat-app {
  flex: 0 0 400px;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding:32px 0px;
  align-items: center;
  background-color: #F0F0F0;
}

@media (min-width: 1600px) {
  .content {
    padding:64px 0px;
  }
}